<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

  <div class="w-full max-w-md space-y-8">
    <img class="mx-auto h-12 w-auto"
         src="https://images.vexels.com/media/users/3/288897/isolated/preview/8e38a537b57110a67f45c48ac6208b7b-grizzly-bear-color-stroke.png"
    alt="AppLogo">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Time To Create Account</h2>

    <form class="mt-8 space-y-6"
          [formGroup]="formLogin" (ngSubmit)="signUp()">
      <input id="login" name="login" required
             class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3
                 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500
                  sm:text-sm"
             placeholder="Login"
             formControlName="login">
      <p
        class="text-red-600 font-medium mb-2"
        *ngIf="login.errors?.minlength && login.touched">
        input less then 6 symbols</p>
    </form>
    <form class="mt-8 space-y-6"
          [formGroup]="formPassword" (ngSubmit)="signUp()">

      <label for="password" class="sr-only">Password</label>
      <input id="password" name="password" type="password"
             required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3
                 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500
                  sm:text-sm"
             placeholder="Password"
             formControlName="password">

    </form>
    <form class="mt-8 space-y-6"
          [formGroup]="formConfirmPassword" (ngSubmit)="signUp()">
      <label for="password" class="sr-only">Password</label>
      <input id="confirmPassword" name="password" type="password"
             required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3
                 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500
                  sm:text-sm"
             placeholder="Сonfirm password"
             formControlName="confirmPassword">
      <p class="text-red-600 font-medium mb-2"
         *ngIf="formPassword.value.password!==formConfirmPassword.value.confirmPassword && password.touched">
        Пароли должны совпадать
      </p>
      <!--        Исправить, почему не работает-->

      <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent
        bg-amber-600 py-2 px-4 text-sm font-medium text-white hover:bg-amber-900 focus:outline-none focus:ring-2
        focus:ring-indigo-500 focus:ring-offset-2">
        Sign Up
      </button>

    </form>


    <form routerLink="/">
      <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent
        bg-amber-600 py-2 px-4 text-sm font-medium text-white hover:bg-amber-900 focus:outline-none focus:ring-2
        focus:ring-indigo-500 focus:ring-offset-2">
        Back to sign in
      </button>
    </form>

  </div>
</div>


