<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

  <div class="w-full max-w-md space-y-8">

      <img class="mx-auto h-12 w-auto" src="https://cdn-icons-png.flaticon.com/512/2698/2698157.png"
           alt="Your Company">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>


    <form class="mt-8 space-y-6"
          [formGroup]="formLogin" (ngSubmit)="signIn()"
    >
      <div class="-space-y-px rounded-md shadow-sm">
          <input id="login" name="login" required
                 class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                 placeholder="Login"
                 formControlName="login">
        <p
          class="text-red-600 font-medium mb-2"
          *ngIf="login.errors?.minlength && login.touched">
          input less then 3 symbols</p>
      </div>
    </form>

    <form class="mt-8 space-y-6"
          [formGroup]="formPassword" (ngSubmit)="signIn()">
      <div class="-space-y-px rounded-md shadow-sm">
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password"
                 required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3
                 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500
                  sm:text-sm"
                 placeholder="Password"
                 formControlName="password">
        <p
          class="text-red-600 font-medium mb-2"
          *ngIf="password.errors?.minlength && password.touched">
          input less then 6 symbols</p>
      </div>
      <form (ngSubmit)="signIn()">
        <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent
        bg-amber-600 py-2 px-4 text-sm font-medium text-white hover:bg-amber-900  focus:outline-none focus:ring-2
        focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3"></span>
          Sign in
        </button>
      </form>
    </form>

    <form routerLink="/register">
        <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent
        bg-amber-600 py-2 px-4 text-sm font-medium text-white hover:bg-amber-900 focus:outline-none focus:ring-2
        focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3"></span>
          Sign Up
        </button>
    </form>
  </div>
</div>




