
<div class="container mx-auto shadow-lg rounded-lg">

  <div
    class="flex flex-row py-1 px-1 justify-center border-b-2">

    <div class="flex flex-row py-2 px-1 border-b-2">
      Chat For All Users
    </div>
  </div>
  <div class="flex flex-row py-4 px-2 border-2 text-black" *ngFor="let message of messages">

    {{ message.ownerOfMessage.login}} said: {{ message.text }}

  </div>
  <div class="flex flex-row py-4 px-2 border-2 text-black"
       *ngFor="let chatMessage of webSocketService.chatMessages">
    {{chatMessage.name!}}  said: {{chatMessage.message}}
  </div>

  <form (ngSubmit)="sendMessage!(sendForm)" #sendForm="ngForm">
    <input
      class="w-full bg-gray-300 py-5 px-3 rounded-xl"
      type="text"
      name="message"
      placeholder="type your message here..."
      ngModel
    />
    <div class="flex justify-center">
      <button
        type="submit"
        class="bg-amber-700 text-white font-bold py-2 px-4 rounded display-2 mx-auto">
        SEND MESSAGE
      </button>
    </div>
  </form>
</div>




